.content__left
	include home-left
.content__center
	section.block.block_white
		h1 О проекте
		.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eaque officia quos, repudiandae maxime rerum quidem voluptates, aliquid corporis ut.
		.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eos dignissimos quisquam, nesciunt, non illum maxime ratione ducimus impedit voluptatem adipisci. Consectetur et quisquam repellendus dolore porro quo, tempora unde assumenda libero, nesciunt, illo quam magni qui. Officiis quidem placeat vero blanditiis molestiae laborum inventore animi non quas ipsa distinctio recusandae voluptates illo consequatur doloremque dignissimos facere magni sunt debitis, atque, sapiente obcaecati libero? Vel nulla ipsum consequatur odio aut sint, consectetur aliquid eius, facilis doloremque provident, obcaecati voluptates eos doloribus aperiam nam impedit ad. Doloribus nesciunt fugit quibusdam non amet perspiciatis aspernatur alias ipsum. Laborum vero, minus enim distinctio.
.content__right
	include home-right