.categories.block
	.categories__title Популярные категории
	ul.categories__list
		li.categories__item
			a.categories__link(href="#/") Реклама
		li.categories__item
			a.categories__link(href="#/") Строительство и ремонт
		li.categories__item
			a.categories__link(href="#/") Стройматериалы