.content__left
	include home-left
.content__center
	section.block.block_white.sorry__block
		h1.h2 Уф...
		p.p Есть какие-то проблемы. Возможно, у Вас просто кончился интернет.
		p.lead Попробуйте еще раз или позже!
		a.sorry__link(href="#/") Попробовать ещё раз
.content__right
	include home-right