.content__left
	include home-left
.content__center
	section.block.block_white(ng-controller="regCtrl as regCtrl")
		h1 Хочу получать заявки на просчет
		.lead Вы можете зарегистрироваться на сервисе для этого!
		include manager_new
		//- include reg
.content__right
	include home-right