
<div class="categories block">
  <div class="categories__title">Разделы</div>
  <ul class="categories__list">
    <li class="categories__item"><span ng-click="bodyCtrl.call('tenders')" class="categories__link">Тендеры</span></li>
    <li class="categories__item"><span ng-click="bodyCtrl.call('messages')" class="categories__link">Сообщения</span></li>
    <li class="categories__item"><span ng-click="bodyCtrl.call('managers')" class="categories__link">Поставщики</span></li>
    <li class="categories__item"><span ng-click="bodyCtrl.call('admin_cats')" class="categories__link">Категории</span></li>
    <li class="categories__item"><span ng-click="bodyCtrl.call('admin_cities')" class="categories__link">Города			</span></li>
  </ul>
</div>