
<div class="block block_white">
  <div class="social">
    <div class="social__title">Рассказать друзьям</div>
    <ul class="social__list">
      <li class="social__item"><a href="#" class="social__link"><img src="/pic/email.png" alt="" class="social__ico"/></a></li>
      <li class="social__item"><a href="#" class="social__link"><img src="/pic/vk.png" alt="" class="social__ico"/></a></li>
      <li class="social__item"><a href="#" class="social__link"><img src="/pic/tw.png" alt="" class="social__ico"/></a></li>
      <li class="social__item"><a href="#" class="social__link"><img src="/pic/ok.png" alt="" class="social__ico"/></a></li>
      <li class="social__item"><a href="#" class="social__link"><img src="/pic/fb.png" alt="" class="social__ico"/></a></li>
    </ul>
  </div>
  <div class="news">
    <div class="news__title">Новости</div>
    <div ng-repeat="nw in [1,2]" class="news__item"><span class="news__item-date">15.08.2016 </span><span class="news__item-text">В тестовом режиме начал ...</span><a href="#" class="news__item-link">подробнее</a></div>
  </div>
</div>
<div ng-repeat="adv in [1,2]" class="adv block block_white"><a href="https://vk.com/yazabeg" target="_blank" class="adv__link"><img ng-src="/pic/yazabeg-{{adv}}.jpg" alt="" class="adv__pic"/></a></div>