$white: #fff; 
$white-50: rgba(255, 255, 255, 0.4);
$black: #333;
$blue: #507299;
$blue-border: #466991;
$grey: #a1a1a1;
$grey-light: #f4f4f4;
$grey-form: #e5e6e7;
$shadow: rgba(50, 50, 50, 0.05);
$cool-red: #ec6868;

$grey-body: #edeef0;