
.content {
	margin: 69px auto 21px;
	// padding: 15px 0;
	// padding: 7px;
	@include clearfix;
	// font-size: 0;
}

.content__left {
	width: 18.75%; // 180px
	float: left;
}

.content__center {
	width: 60.9%; // 550px 585
	float: left;
	margin-right: 14px;
}

.content__right {
	width: 18.75%; // 230px -15px
	float: right;
}

.bg-title {
	@include bold;
	margin: 14px 0;
	color: $blue;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.8em;
	// text-shadow: 0 1px 0 #d7d8db, 1px 0 0 #e3e4e8;
}