doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Заказ на просчёт от Микротендер.РФ
	body
		p Добрый день, {{$recipient_name}}!
		p Есть заказ! {{$tender_text}}
		P Бюджет: {{$budjet}}
		p Заказчик: {{$customer}}